
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
body {
	text-align: center;
}

p{
	text-align: center;
	font-size: 25px;
	line-height: 35px;
	width: 80%;
	margin: 20px auto;
}
img{
	width: 50%;
	margin: 0 auto;
	

}
